@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }

  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}


.container {
  width: 100%;
  position: relative;

  .boxArea {}

  .giftBox {
    height: 982px;
    width: 982px;
    right: -300px;
    position: absolute;
    top: 0;
    user-select: none;

    @include max-min(max px($LAYOUT_WRAP_SIZE + 20)) {
      right: -450px;
    }

  }

  .giftImage {}

  .textWrap {
    @include flex;
    flex-direction: column;

  }


  .testTitle {}

  .giftArea {
    @include flex;
    // margin-top: 30px;
    margin-top: 4px;

    .imageArea {}

    .textArea {
      padding-left: 40px;
      @include flex;
      justify-content: flex-end;
      flex-direction: column;
      flex: 1;
    }
  }

  .titleArea {
    @include Font_Avenir(128px);
    // width: 720px;
    height: px(196 + 10);
    margin-top: 36px;
    margin-left: 20px;
    user-select: none;

    svg {
      font-weight: 900;
      paint-order: stroke;
      stroke: $main_gold;
      fill: $color_white;
      stroke-width: 12px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      letter-spacing: 0.1em;
    }
  }

  .textHeadOne {
    // min-width: 431px;
    height: 114px;

    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    // line-height: 0;

    /* identical to box height */
    letter-spacing: 0.1em;


    /* Red */

    svg,
    rect,
    foreignobject {
      width: 100%;
      height: 100%;
    }

    svg {
      text {
        paint-order: stroke;
        stroke: $main_gold;
        fill: $main_red;
        stroke-width: 12px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        letter-spacing: 0.1em;
      }
    }
  }

  .textHeadTwo {
    width: 431px;
    height: 68px;
    margin-bottom: 148px;
    margin-top: 16px;

    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0.1em;

    /* White */
    color: #FFFFFF;


    // line-height: 0;

    /* identical to box height */
    letter-spacing: 0.1em;


    /* Red */

    svg,
    rect,
    foreignobject {
      width: 100%;
      height: 100%;
    }

    svg {
      text {
        fill: #FFF;
        paint-order: stroke;
        stroke: $main_gold;
        stroke-width: 6px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        letter-spacing: 0.1em;
      }
    }
  }

}