.divide {
  padding-top: 50px;
}

.container {
  .wrap {
    max-width: 1539px;
    // height: 694px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-left: -20px;
    margin-right: -20px;
    height: 294px;

    @include max-min(min px(624)) {
      margin-left: initial;
      margin-right: initial;
      border-radius: 16px;
      height: 404px;
    }

    @include max-min(min px(930)) {
      margin-left: initial;
      margin-right: initial;
      border-radius: 16px;
      height: 694px;
    }

    &:hover {
      .playBtn {
        background-color: $main_gold;

        svg path {
          fill: #FFF;
        }
      }
    }
  }


  .bgArea {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      width: auto !important;
      height: 100% !important;
      position: absolute;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);

      @include max-min(min px($BP_TABLET_SM)) {
        width: auto !important;
        height: 100% !important;
      }


      @include max-min(max px($BP_TABLET)) {
        // width: 100% !important;
        // height: auto !important;
      }

      @include max-min(min px($BP_TABLET)) {
        // width: auto !important;
        // height: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      @include size(inherit);
      background: rgba(0, 0, 0, 0.44);
      z-index: 2;
    }
  }

  .playBtn {
    width: 38px;
    height: 38px;
    background-color: rgba(#000, .4);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;


    @include max-min(min px($BP_TABLET_SM)) {
      width: 134px;
      height: 134px;

      :global {
        .icon-wrapper {
          width: 44px !important;
          height: 44px !important;
        }
      }
    }


    // @include max-min(max px())
  }


}


.customModal {
  background-color: gray;
}