.button {
  display: contents;

  :global {
    .content {
      // &.fontMT {
      //   @include Font_LBet_MT(14px);
      // }

      // &:not(.fontMT) {
      //   @include Font_Avenir(14px);
      // }

      // !!


      &.full,
      &.wide {
        width: 100%;
        height: 100%;
      }


      .button--wrap {
        // text-decoration: inherit;

        @include flex;
        align-items: center;
        // justify-content: center;

        // width: 100%;
        // height: 48px;

        overflow: hidden;
        cursor: pointer;
        font-family: inherit;
        background-color: transparent;

        user-select: none;
        border: none;
        outline: none;
        transition: all .25s ease-in-out;
        font: inherit;

        &:not(.align) {
          justify-content: center;
        }

        &:not(.reset) {
          border-radius: 16px;

          >div {
            gap: 7px;
          }
        }

        &[class*="variant"] {
          &:not([class*="font"]) {
            // font-family: 'Avenir Next Georgian';
          }
        }

        &:not(.reset) {
          padding: 0 16px;
        }

        &.reset {
          // padding: 0;
        }

        &:active {
          // background-color: gray;
        }

        &.icon-wrapper {
          // margin-left: 5px;
        }

        &.textArea {}


        &.full,
        &.wide {
          width: 100%;
          height: 100%;
        }

        &.size {
          &--normal {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

            &:not(.full) {
              &:not(.reset) {
                height: 44px;
              }
            }
          }

          &--medium {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;


            &:not(.full) {
              height: 48px;
            }

            &:not(.reset) {
              &:not(.full) {
                height: 48px;
              }
            }
          }

          &--large {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;

            &:not(.full) {
              &:not(.reset) {
                height: 60px;
              }
            }
          }
        }

        &.variant {
          &--primary {
            background-color: $main_gold;
            color: $color_white;

            &:hover {
              background-color: darken($main_gold, 5%);
            }
          }

          &--light {
            color: #3F3F46;
            background: #FFFFFF;
            box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.08);

            &:hover {
              background-color: darken(#FFF, 5%);
            }
          }

          &--secondary {
            background-color: $dark_gold;
            color: $color_white;

            &:hover {
              background-color: darken($dark_gold, 9%);
            }
          }

          &--outline {
            background-color: transparent;
            color: $color_gray;
            border: 1px solid rgba($color_gray, .2);

            &:hover {
              background-color: rgba($color_gray, .07);
              border-color: 1px solid rgba($color_gray, .2);
            }
          }

          &--text {
            background-color: transparent;

            &:hover {
              background-color: rgba($color_gray, .05);
            }

          }
        }

        &.border-primary {
          border-color: $main_gold;

          &:hover {
            background-color: rgba($main_gold, .05);
          }
        }
      }
    }
  }
}