.container {
  padding-top: 140px;
  position: relative;
  // height: 500px;
  overflow: hidden;
  margin-top: auto;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    padding-top: 340px;
  }

  .wrap {
    @include layoutWrap(true);
  }

  .navigationArea {
    @include flex;
    flex-wrap: wrap;
    gap: 20px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      gap: 120px;
    }

  }

  .navList {
    list-style: none;
    margin: 0;
    padding: 0;

    >* {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .navListTitle {

    /* 18 Regular */
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;

    /* identical to box height */

    /* Text */
    color: #3F3F46;
  }

  .navListItem {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    /* identical to box height */

    /* Text */
    color: #3F3F46;
  }

  .navListBox {
    @include max-min(max px($BP_TABLET)) {
      flex: 1;
    }
  }

  .navListBottom {
    margin-top: 64px;
    height: 32px;
    @include flex;

    p {
      margin: auto;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;

      /* identical to box height */

      /* Dark */
      color: rgba(#383838, .5);

    }
  }

  .infoArea {
    margin-top: 64px;
  }

  .navSocialList {
    gap: 30px;
  }

  .navSocialItem {
    @include size(32px);

    svg {
      height: 100%;
      width: initial;
    }
  }

}

.imageBg {
  position: relative;
  // bottom: -170px;
  // right: 0;
  z-index: -1;
  // margin-left: auto;
  // width: 0px;
  max-width: px($LAYOUT_WRAP_SIZE);
  margin: 0 auto;
  width: 100%;
  user-select: none;

  height: 198px;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    height: initial;
  }

  img {
    display: block;
    position: absolute;
    right: -200px;
    bottom: 0px;
    z-index: 5;
    height: initial;
    width: 380px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      width: initial;
    }
  }
}

.circle {
  position: absolute;
  background: $main_gold;
  border-radius: 100%;
  // opacity: .2;
  z-index: 5;
  // position: absolute;
  // width: 812px;
  // height: 812px;
  // left: -406px;
  // top: 4420px;

  // background: #539AFF;

  right: -12px;
  width: 646px;
  height: 646px;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    height: initial;
    top: -400px;
    right: -635px;
    width: 1300px;
    height: 1300px;
    left: initial;
  }


}

.footerArea {
  overflow: hidden;
  margin-top: auto;
  padding-top: 70px;
  padding-bottom: 0;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    padding-bottom: 170px;

  }

  :global {
    .footer {
      &--wrap {
        padding-inline: 16px;
        // @include layoutWrap(false);
        // margin-top: 100px;
        max-width: 1530px;
        margin-inline: auto;
        // padding-top: 140px;
        position: relative;
        z-index: 3;

        @include max-min(min px($BP_TABLET_SM + 1)) {
          // padding-inline: 20px;
        }
      }

      .nav-grid {
        @include flex;
        gap: 24px;
        flex-direction: column;
        // position: relative;
        // z-index: 2;

        @include max-min(min px($BP_TABLET_SM + 1)) {
          gap: 24px;
          flex-direction: row;
        }

        @include max-min(min px($BP_TABLET_SM + 1)) {
          gap: 120px;
          // flex-direction: row;
        }

        .col {
          @include flex;
          flex-direction: column;
        }

        .btm {
          margin-top: auto;
        }

        .col-el {}
      }

      .navigation {

        // margin-top: 24px;

        &--title {
          font-family: 'Avenir Next Georgian';
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: #3F3F46;
          margin-bottom: 16px;

          @include max-min(min px($BP_TABLET_SM + 1)) {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 32px;
          }
        }

        &--list {
          @include flex;
          flex-direction: column;
          gap: 16px;

          &--item {
            font-family: 'Avenir Next Georgian';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #3F3F46;

            @include max-min(min px($BP_TABLET_SM + 1)) {
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              color: #3F3F46;
            }

          }
        }


      }

      .navigation-icon {
        &--list {
          @include flex;
          gap: 18px;
          padding-top: 30px;
        }

        &--item {}
      }

      .bgArea {
        position: relative;
        left: 0;
        width: 100%;
        height: 220px;
        z-index: -1;

        @include max-min(min px($BP_TABLET_SM + 1)) {
          height: 0px;
        }


        .circle {
          width: 646px;
          height: 646px;
          background: $main_gold;
          border-radius: 100%;
          position: absolute;
          // right: 0;
          // top: 0;
          // top: 10px;
          right: -275px;

          @include max-min(min px($BP_TABLET_SM + 1)) {
            // top: -250px;
            // top: -300px;
            top: -232px;
            right: -625px;
            width: 1300px;
            height: 1300px;
          }

          .image {
            position: absolute;
            top: -40px;
            left: 100px;
            width: 290px;

            &-wrap {

              position: relative;
              // width: 300px;
              // height: 185px;

              @include max-min(min px($BP_TABLET_SM + 1)) {

                width: 535px;
                height: 411px;
              }
            }


            @include max-min(min px($BP_TABLET_SM + 1)) {
              width: initial;
              // top: -152px;
              top: -85px;
              left: 270px;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

      }

      .md-social {
        display: none;

        @include max-min(min px($BP_MOBILE)) {
          display: block;
        }
      }

      .-copy_Right {
        font-family: 'Avenir Next Georgian';
        font-weight: 500;
        font-size: 12px;
        line-height: 23px;
        color: #FFF;
        color: gray;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;

        @include max-min(min px($BP_TABLET_SM + 1)) {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #383838;
          padding-bottom: 15px;
          width: initial;
          position: unset;
          transform: none;
        }
      }
    }
  }
}