.container {
  padding-top: 140px;
  position: relative;
  // height: 500px;
  overflow: hidden;
  margin-top: auto;
  min-height: 460px;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    padding-top: 340px;
  }

  .wrap {
    @include layoutWrap(true);
    @include flex;
    flex-direction: column
  }

  .navigationArea {
    @include flex;
    flex-wrap: wrap;
    gap: 20px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      gap: 120px;
    }

  }

  .navList {
    list-style: none;
    margin: 0;
    padding: 0;

    >* {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .navListTitle {

    /* 18 Regular */
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;

    /* identical to box height */

    /* Text */
    color: #3F3F46;
  }

  .navListItem {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    /* identical to box height */

    /* Text */
    color: #3F3F46;
  }

  .navListBox {
    @include max-min(max px($BP_TABLET)) {
      flex: 1;
    }
  }

  .navListBottom {
    margin-top: 64px;
    height: 32px;
    @include flex;

    p {
      margin: auto;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;

      /* identical to box height */

      /* Dark */
      color: rgba(#383838, .5);

    }
  }

  .infoArea {
    margin-top: 64px;
  }

  .navSocialList {
    gap: 30px;
  }

  .navSocialItem {
    @include size(32px);

    svg {
      height: 100%;
      width: initial;
    }
  }

}

.imageBg {
  position: relative;
  // bottom: -170px;
  // right: 0;
  z-index: -1;
  // margin-left: auto;
  // width: 0px;
  max-width: px($LAYOUT_WRAP_SIZE);
  margin: 0 auto;
  width: 100%;
  user-select: none;

  height: 198px;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    height: initial;
  }

  img {
    display: block;
    position: absolute;
    right: -200px;
    bottom: 0px;
    z-index: 5;
    height: initial;
    width: 380px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      width: initial;
    }
  }
}

.circle {
  position: absolute;
  background: $main_gold;
  border-radius: 100%;
  // opacity: .2;
  z-index: 5;
  // position: absolute;
  // width: 812px;
  // height: 812px;
  // left: -406px;
  // top: 4420px;

  // background: #539AFF;

  right: -12px;
  width: 646px;
  height: 646px;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    height: initial;
    top: -400px;
    right: -635px;
    width: 1300px;
    height: 1300px;
    left: initial;
  }


}

.footerArea {
  overflow: hidden;
  margin-top: auto;
  padding-bottom: 0;
  // min-height: 226px;
  padding-top: 320px;
  position: relative;

  // @include layoutWrap(true);


  min-height: 482px;

  // background-color: gray;


  @include max-min(min px($LAYOUT_WRAP_SIZE + 20)) {
    min-height: 482px;
  }

  @include max-min(min px($BP_MOBILE), max px($LAYOUT_WRAP_SIZE + 20)) {

    // min-height: toVW(482, 1550);
  }

  // @include max-min(min px($LAYOUT_WRAP_SIZE + 20)) {
  //   position: unset;
  // }

  // @include max-min(max px($LAYOUT_WRAP_SIZE + 20)) {
  //   position: unset;
  //   min-height: toVW(482, 1550);
  // }

  // @include max-min(min px($BP_TABLET_SM + 1)) {
  //   // padding-bottom: 170px;
  //   // padding-top: 320px;
  //   // min-height: toVW(482, 1550  );
  // }

  :global {
    .footer {
      &--wrap {
        // padding-inline: 16px;
        max-width: 1530px;
        margin-inline: auto;
        height: 100%;
        @include flex;
        flex-direction: column;
        min-height: inherit;
        position: unset;
        // padding-inline: 16px;

        @include max-min(min px($LAYOUT_WRAP_SIZE + 20)) {
          position: relative;
          // padding-inline: 0px;
        }

        @include max-min(min px($BP_TABLET_SM + 1)) {
          // padding-inline: 20px;
        }
      }

      .nav-grid {

        padding-top: 77px;
        @include flex;
        gap: 24px;
        flex-direction: column;


        // position: relative;
        // z-index: 2;
        @include max-min(min px($BP_MOBILE + 1)) {
          gap: 24px;
          flex-direction: row;
          // flex-direction: row;
        }

        @include max-min(min px($BP_TABLET_SM + 1)) {
          gap: 120px;
          flex-direction: row;
          // flex-direction: row;
        }

        .col {
          @include flex;
          flex-direction: column;
        }

        .btm {
          margin-top: auto;
        }

        .col-el {}
      }

      .navigation {

        // margin-top: 24px;

        &--title {
          font-family: 'Avenir Next Georgian';
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #3F3F46;
          margin-bottom: 16px;

          @include max-min(min px($BP_TABLET_SM + 1)) {
            // font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 32px;
          }
        }

        &--list {
          @include flex;
          flex-direction: column;
          gap: 20px;

          &--item {
            font-family: 'Avenir Next Georgian';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #3F3F46;

            a {
              &:hover {
                text-decoration: underline;
              }
            }

            @include max-min(min px($BP_TABLET_SM + 1)) {
              font-size: 16px;
              line-height: 23px;
              color: #3F3F46;
            }

          }
        }


      }

      .navigation-icon {
        &--list {
          @include flex;
          gap: 18px;
          padding-top: 30px;
        }

        &--item {}
      }

      .bgArea {
        // position: relative;
        left: 0;
        width: 100%;
        height: 220px;
        z-index: -1;
        margin-top: auto;
        // order: 2;
        position: relative;
        bottom: 0;
        right: 0;

        background-color: aliceblue;

        @include max-min(min px($BP_TABLET_SM)) {
          position: absolute;
          min-height: inherit;
          bottom: 0;
          right: 0;
          // order: 0;
        }

        @include max-min(min px($BP_MOBILE), max px($LAYOUT_WRAP_SIZE + 20)) {

          min-height: toVW(482, 1550);
        }

        .circle {
          min-width: px(646);
          min-height: px(646);
          // background: $main_gold;

          background: gray;
          border-radius: 100%;
          position: absolute;
          right: -259px;
          // top: 0;
          // transition: all 2s ease-in-out;

          @include max-min(min px($BP_TABLET_SM + 1)) {
            // top: -250px;
            // top: -300px;
            // top: -232px;
            // top: -482px;
            // right: px((380 + 195) / -1);
            // width: 1300px;
            // height: 1300px;
          }

          @include max-min(min px($BP_TABLET_SM), max px($LAYOUT_WRAP_SIZE + 20)) {
            background-color: red;
            // top: -250px;
            // top: -300px;
            // top: -232px;
            // top: -482px;
            // right: toVW((380 + 195) / -1, 1550);
            // width: toVW(1300, 1550);
            // height: toVW(1300, 1550);
          }

          .image {
            position: absolute;
            // top: -25px;
            // right: 100px;
            // width: 210px;
            // right: toVW(515, 1300);

            // right: 55%;
            width: px(210);
            min-height: 200px;
            max-height: 475px;
            height: 100%;
            // height: px(475);
            // max-width: 610px;s

            background-color: rgba(#383838, .5);
            display: none;


            @include max-min(min px($BP_TABLET_SM + 1)) {
              // width: 610px;
              // right: 515px;
              // background-color: orange;
              // right: toVW(515, 1300);
              // width: px(610);
              // height: px(475);
              right: 575px;
              background-color: $main_gold;
            }

            @include max-min(min px($BP_TABLET_SM), max px($LAYOUT_WRAP_SIZE + 20)) {
              // width: toVW(290, 1300);
              // top: toVW(5, 1300);
              // left: toVW(144, 1300);
              // width: toVW(610, 1300);
              // background-color: aliceblue;
              //   right: toVW(515, 1300);
              // top: (toVW(-25, 1300));
            right: toVW(575, 1300);

            }



            &-wrap {

              // display: none;

              position: relative;
              // width: 300px;
              // height: 185px;

              // width: 210px;

              @include max-min(min px($BP_MOBILE), max px($LAYOUT_WRAP_SIZE + 20)) {
                // width: 100%;
              }

              // @include max-min(min px($BP_TABLET_SM + 1)) {
              //   width: 610px;
              //   height: 472px;
              // }

              // @include max-min(min px($BP_TABLET_SM), max px($LAYOUT_WRAP_SIZE + 20)) {
              //   // background-color: lightblue;
              //   // top: -250px;
              //   // top: -300px;
              //   // top: -232px;
              //   // top: -482px;
              //   width: toVW(610, 1300);
              //   height: toVW(472, 1300);
              // }
            }


            // @include max-min(min px($BP_TABLET_SM + 1)) {
            //   width: initial;
            //   // top: -152px;
            //   top: -25px;
            //   left: 175px;
            // }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

      }

      .md-social {
        display: none;

        @include max-min(min px($BP_MOBILE)) {
          display: block;
        }
      }

      .-copy_Right {
        font-family: 'Avenir Next Georgian';
        font-weight: 500;
        font-size: 12px;
        line-height: 23px;
        color: #FFF;
        color: gray;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;

        @include max-min(min px($BP_TABLET_SM + 1)) {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #383838;
          padding-bottom: 15px;
          width: initial;
          position: unset;
          transform: none;
        }
      }
    }
  }
}