  .content {
    // height: px($HEADER_HEIGHT);
  }

  .wrap {
    height: auto;
    width: 100%;
    height: 100%;
    @include layoutWrap();
    @include flex;
    flex-direction: column;

    @include max-min(min px($BP_TABLET_SM)) {
      flex-direction: row;
      height: px($HEADER_HEIGHT);
    }

    @include max-min(max px($LAYOUT_WRAP_SIZE + 20)) {
      padding: 0 20px;
    }

  }

  .leftArea {
    @include flex;
    // flex: 1;
    width: 100%;
    height: px($HEADER_HEIGHT_MOBILE);
    position: relative;

    @include max-min(min px($BP_TABLET_SM)) {
      width: auto;
      height: auto;
    }
  }

  .logoArea {
    @include flex;
    align-items: center;
    // width: 329px;
    // !!!
    padding-top: 3px;

    @include max-min(max px($BP_TABLET_SM)) {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .searchArea {
    @include flex;
    align-items: center;
    flex: 1;
    // max-width: 940px;

    >* {
      max-width: 807px;
      margin-inline: auto;
    }

    @include max-min(max 790px) {
      // display: none;
    }

    @include max-min(min px($BP_TABLET_SM)) {
      // display: none;
      padding: 0 20px;
    }

  }

  .authArea {
    // width: 250px;
    margin-left: auto;
    display: none;

    @include max-min(min px($BP_TABLET_SM)) {
      // display: block;
      @include flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .mobileUserInfo {
    @include flex;
    margin-left: auto;

    @include max-min(min px($BP_LAPTOP_SM)) {
      display: none;
    }
  }