.root {
  display: contents;
  // !!!
  // height: inherit;

  :global {
    .container {
      height: inherit;

      .wrap {
        position: relative;
        z-index: 0;
        @include flex;
        height: inherit;

        .withIcon {
          .clearBtn {
            right: 65px;
          }
        }
      }

      .inputWrap {
        width: 100%;
        height: 100%;
        // position: relative;


        input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          border-radius: 12px;
          font-weight: 400;
          font-size: inherit;
          line-height: 27px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
          padding-right: 20px;
          font-family: inherit;

          color: #3F3F46;
          position: relative;
          z-index: 5;
          background-color: transparent;
        }
      }

      .bg {
        background-color: transparent;
        border: 1px solid transparent;
        width: 100%;
        height: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
      }

      &.clear {
        input {
          padding-right: 50px !important;
        }
      }

      &.size {
        &--small {
          .wrap {
            height: 32px;
          }

          input {
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 14px;
          }
        }

        &--normal {
          .wrap {
            height: 44px;
          }
          input {
            padding: 7px;
            font-size: 16px;
          }
        }

        &--large {
          .wrap {
            height: 64px;
          }
        }


      }

      &.full {
        .wrap {
          height: 100%;

          input {
            // padding: 5px;
          }
        }
      }

      &.variant {
        &--simple {
          .bg {
            border-color: transparent;
          }

          ;
        }

        &--default {
          .bg {
            border-color: rgba($color_gray, 0.2);
            border-radius: 8px;
          }
        }

        &--outline {

          input {
            &+.bg {
              border-color: rgba($color_gray, 0.2);
            }

            &:focus {
              &+.bg {
                border-color: $main_gold;
              }

              border-color: $main_gold;
            }
          }
        }
      }

      &.hideDefaultAperance {
        input {

          &[type=number] {
            -webkit-appearance: none;
            -moz-appearance: textfield;
            /* Firefox */
          }
        }
      }
    }


    .searchBtn {
      position: absolute;
      top: 50%;
      right: 50%;

    }


    .bottom {
      margin: auto 20px auto 0px !important;
    }



    .withIconWrap {
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      z-index: 5;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin: auto 0px auto 20px;


      svg {
        path {
          stroke: gray;
        }
      }
    }

    .clearBtn {
      position: absolute;
      top: 50%;
      right: px(20);
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      z-index: 10;
      border-radius: 100px;

      &.withIconClear {
        right: px(64);
      }

      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;

      background: rgba(63, 63, 70, 0.06);
      @include flex-all;

      &:hover {
        background: rgba(63, 63, 70, 0.26);
      }

      svg {
        width: 16px;

        path {
          // stroke: gray;
        }
      }
    }
  }

  :global {
    .checkbox {

      width: 18px;
      height: 18px;
      position: relative;
      @include flex-all;

      input {
        margin: 0;
        padding: 0;
        visibility: hidden;

        &:checked {
          +.bg {
            transition: all .15s ease-in-out;
            background-color: rgba(63, 63, 70, 0.05);

            >div {
              opacity: 1;
            }
          }
        }
      }

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(63, 63, 70, 0.11);
        ;
        border-radius: 4px;
        @include flex-all;

        >div {
          transition: all .25s ease-in-out;
          opacity: 0;
        }
      }

    }
  }

}