.mainSlider {
  .wrap {}

  :global {
    .swiper-slide {
      height: toVW(838, 1530);
      max-height: 838px;
      // min-height: 238px;

      >div {
        @include flex-all;
        @include size(100%)
      }

      img {
        // width: auto !important;
        position: unset !important;
        // height: auto !important;
        height: 100% !important;
      }
    }
  }
}