$navItem-virtual: #E1444F;
$navItem-shop: #5DB039;
$navItem-voucher: #9766F0;
$navItem-medical: #FFBBB6;


.container {
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  background: $color_white;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);

  .wrap {
    @include flex;
    flex-direction: column;
    height: inherit;
    overflow: auto;
  }

  .header {
    @include flex;
    align-items: center;
    width: 100%;
    position: relative;
    // background-color: lightgray;
    // height: 76px;
    height: 92px;
    padding: 0 52px;
    flex-shrink: 0;

    .closeBtn {
      position: absolute;
      left: 25px;
    }

    .title {
      text-align: center;
      font-family: 'Avenir Next Georgian';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #3F3F46;
      margin: auto;
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
    }

    .languageSelect {
      // margin-left: auto;
      position: absolute;
      right: 24px;

      :global {
        .icon-wrapper {
          svg path {
            stroke: #3F3F46;
          }
        }
      }
    }
  }

  .divide {
    margin-block: 40px;
    width: 100%;
    padding: 0 22px;

    &:after {
      content: '';
      width: 100%;
      background-color: rgba(63, 63, 70, 0.06);
      ;
      height: 1px;
      display: block;
    }
  }

  .navList {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3F3F46;
    display: flex;
    // gap: 24px;
    flex-direction: column;
    padding: 0 32px;

    li {
      height: 44px;
      @include flex;
      align-items: center;

      a {
        @include flex;
        height: 100%;
      }

      span {
        margin: auto;
      }
    }

  }

  .footer {
    margin-top: auto;
    padding: 0 16px;
  }

  .logoutBtn {
    @include flex;

    height: 80px;

    background: #FFFFFF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-bottom: 50px;
    padding: 11px 16px;
    align-items: center;

    .icon {
      margin-left: auto;
    }

    .text {

      font-family: 'Avenir Next Georgian';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      /* identical to box height */

      color: #3F3F46;
      margin-left: 22px;
    }

    .userAvatar {
      @include size(55px);

      img {
        height: 35px;
      }

      :global {
        .name {
          font-family: 'Avenir Next Georgian';
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 14px;

          color: #FFFFFF;
          width: 21px;
          height: 11px;
        }
      }
    }
  }
}


.overlayWrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5555;
}

.userMenu {
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  background: $color_white;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 30px;

  :global {
    .menu-header {
      padding-top: 70px;
      width: 100%;
      height: 390px;
      background-color: #DFB744;
      position: relative;
      margin-bottom: 40px;
      @include flex-all;
      background-image: url('/assets/images/mobile-menu-header-bg.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center bottom;

      &:after {
        content: '';
        clip-path: url(#clipCorner);
        background-color: inherit;
        display: block;
        width: 229px;
        height: 40px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        background-color: #deb643;
      }
    }

    .avatar-area {
      .name {
        width: 36px;
        height: 18px;
        transform: translateY(2px);
      }
    }

    .box {
      &-list {
        padding-top: 35px;
        width: px((128 * 2) + 16);
        @include flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-inline: auto;
        margin-top: 16px;
      }

      &-item {
        width: 128px;
        height: 95px;
        background-color: gray;
        @include flex;
        border-radius: 16px;
        flex-direction: column;
        cursor: pointer;

        &.virtual {
          background-color: $navItem-virtual;

          svg {
            fill: #FFFFFF;
          }
        }

        &.shop {
          background-color: $navItem-shop;
        }

        &.voucher {
          background-color: $navItem-voucher;
        }

        &.medical {
          background-color: $navItem-medical;
        }
      }

      &-icon {
        margin-inline: auto;
        // padding: 11px;
        // background-color: gainsboro;
        margin-bottom: 7px;
        margin-top: 17px;
        height: 25px;
        width: auto;
        @include flex;
        align-items: center;

        svg {
          fill: #FFF;
        }
      }

      &-text {
        font-family: 'Avenir Next Georgian';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        width: 90%;
        margin-inline: auto;
        // word-wrap: break-word;
      }
    }

    .closeBtn {
      position: absolute;
      right: 25px;
      top: 30px;

      svg path {
        fill: #FFF;
      }
    }

    .nav {
      &-list {
        @include flex;
        flex-direction: column;
        width: 100%;
        gap: 17px;
        padding-inline: 16px;
        margin-top: 32px;
      }

      &-item {

        a,
        .btn {
          max-height: 51px;
          padding: 15px 24px;
          @include flex;
          cursor: pointer;
          background: #FFFFFF;
          box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
          border-radius: 16px;

          font-family: 'Avenir Next Georgian';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;

          /* identical to box height */

          color: #3F3F46;

          .icon-wrap {
            margin-left: auto;
            margin-block: auto;
          }
        }
      }
    }
  }

}