.searchArea {
  width: 100%;
  height: px($SEARCH_INPUT_HEIGHT_MOBILE);
  padding-inline: px($BP_WRAP_PADDING);
  margin-bottom: px($BP_WRAP_PADDING);


  @include max-min(min px($BP_TABLET_SM)) {
    height: px($SEARCH_INPUT_HEIGHT);
    margin-bottom: 0;
  }

  @include max-min(min px($LAYOUT_WRAP_SIZE)) {
    padding-inline: 0;
  }
  
  .wrap {
    @include flex;
    height: inherit;
    border-radius: 8px;
    // overflow: hidden;
    position: relative;


  }

  .inputWrap {
    width: 100%;

    input {
      padding: 8px 10px;
      outline: none;
      border: none;
      background: transparent;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 100%;
      width: 100%;
      color: rgba($color_gray, .5);
      line-height: 20px;
      @include Font_Avenir(14px);

      &::placeholder {
        color: rgba($color_gray, .5)
      }

      @include max-min(min px($BP_TABLET_SM)) {
        padding: 14px 24px;

      }

    }
  }

  .btnWrap {
    button {
      @include btn-style($main_gold);
      height: 100%;
      color: #FFF;
      @include flex-all;

      @include Font_Avenir(14px);
      font-weight: 400;
      line-height: 20px;

      padding: 12px 21px;
      margin: 0;
      border-radius: 12px;


      @include max-min(min px($BP_TABLET_SM)) {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 12px 23px;
      }

      &:focus {
        outline: rgba($dark_gold, .2) solid 1px;
        outline-offset: 2px;
      }

      &:hover {
        background-color: $main_gold;
      }

      >div {

        &:not(.icon-area) {
          display: none;

          @include max-min(min px($BP_TABLET_SM)) {
            @include flex;
            margin-left: 12px;
          }
        }
      }
    }

    .icon-area {
      @include size(24px);
      margin-top: -2px;
    }

  }

  .bg {
    background-color: rgba($color_gray, .04);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 12px;
  }
}