.smallHeader {
  background-color: $color_gray;
  height: px($HEADER_SMALL_HEIGHT);

  display: none;
  transition: margin .5s ease-in-out;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    display: block;
  }

  .wrap {
    @include layoutWrap();

    @include max-min(max px($BP_MOBILE)) {
      display: none;
    }


    @include max-min(max px($LAYOUT_WRAP_SIZE + 20) min px(390)) {
      padding: 0 20px;
    }
  }

  .navArea {
    display: block;
    color: $color_white;
    height: inherit;

    @include max-min(max px($BP_TABLET)) {
      // display: none;
    }
  }

  .list {
    gap: 24px;
    height: 46px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 17px;
      font-weight: 400;
      @include Font_Avenir(12px);
      margin: auto;
      height: 100%;
      @include flex-all;
      position: relative;

      &:after {
        content: '';
        display: none;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $main_gold;
        position: absolute;
        border-radius: 4px 4px 0 0;
      }

      &.active {
        color: $main_gold;
        // box-shadow: inset 0px -1px 0px 0px $main_gold;

        &:after {
          content: '';
          display: block;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
          background-color: $main_gold;
          position: absolute;
          border-radius: 4px 4px 0 0;
        }
      }

      a {
        font-size: inherit;
        font-family: inherit;

        &:hover {
          color: $main_gold;
        }
      }
    }
  }

  .listItem {
    line-height: 17px;
    font-weight: 400;
    @include Font_Avenir(12px);
    margin: auto;
    height: 100%;

    &:hover {
      color: $main_gold;
    }

    &.active {
      color: $main_gold;
      box-shadow: inset 0px -1px 0px 0px $main_gold;
    }

    a {
      font-size: inherit;
      font-family: inherit;
    }
  }

  .infoArea {
    .userInfoToggle {
      display: none;
    }

    @include max-min(max px($BP_TABLET)) {
      .divideList {
        display: none;
      }

      .userInfoToggle {
        display: block;
      }
    }
  }


  .divideList {
    @include flex;
    // padding-right: 15px;
    margin: 0;
    padding: 0;
    list-style: none;

    >div,
    >li {
      position: relative;
      padding: 0 30px;
      font-size: 14px;
      color: $color_white;
      @include Font_Avenir(14px);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgba(#FFF, .2);
        width: 1px;
        height: 20px;
      }
    }
  }
}