.videoModal {
  .wrap {
    position: relative;
    width: 1529px;
    height: 801px;
    
    // background: rgba(0, 0, 0, 0.49);
    background: #FFF;
    border-radius: 16px;
  }
  .content {}
  .bgArea {}
}