.flx {
  @include flex;

  &.align-items-center {
    align-items: center;
  }

  &.justify-content-center {
    justify-content: center;
  }
}

.flxAll {
  @include flex;
  align-items: center;
  justify-content: center;
}

.flxAI {
  align-items: center;
}

.flxJC {
  justify-content: center;
}

.flxJSB {
  justify-content: space-between;
}

.flx_col,
.flxCol {
  flex-direction: column;
}

.flx_row {
  flex-direction: row;
}

.toRight {
  margin-left: auto;
}


.text {
  &--primary {
    color: $main_gold;
  }

  &--red {
    color: $main_red;
  }
}


.grid {
  &-container {
    width: 100%;

    .col {
      &-md {

        @for $i from 1 through 12 {

          &-#{$i} {
            width: #{100 / $i + '%'};
          }
        }

      }
    }
  }

  &-row {
    width: 100%;
    @include flex;
    gap: 20px;
  }
}


.row {
  --gap-size: 20px;
  @include flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap-size) * -1);
  margin-right: calc(var(--gap-size) * -1);


  >* {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }

  @each $key,
  $value in $bp {
    @media only screen and (min-width: $value + px) {

      @for $i from 1 through 12 {
        .col-#{$key}-#{$i} {
          flex: 0 0 auto;
          width: #{($i / 12) * 100 + '%'};
        }
      }
    }
  }


}

.svg-clip {
  width: 0px;
  height: 0px;
  overflow: hidden;
}


$divide-size: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38);

@each $size in $divide-size {
  .divide-#{$size} {
    margin-top: #{$size}px;
  }

  .gap-#{$size} {
    gap: #{$size}px;
  }
}



.react-datepicker {

  @include flex;
  gap: 50px;

  &-popper {
    // background: gray;
    z-index: 5;
    // width: 282px;
  }

  &__month-container {
    max-width: 282px;
    // background-color: gray;

    font-family: "LBet STD Nus";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* identical to box height */

    color: #3F3F46;


  }

  &__day-names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
  }

  &__day-name {
    min-width: 30px;
    // flex: 1;
    height: 30px;
    // background: azure;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__week {
    width: 100%;
    display: flex;
    /*! flex-direction: column; */
    gap: 11px;
    justify-content: center;
  }

  &__day {
    min-width: 30px;
    // flex: 1;
    height: 30px;
    // background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &--range-start,
    &--range-end {

      // background-color: $dark_gold;
      &:not(.react-datepicker__day--outside-month) {
        color: #FFF;

        background: $main_gold !important;
      }
    }

    &--in-range {

      // background-color: $dark_gold;
      &:not(.react-datepicker__day--outside-month) {
        background: rgba($main_gold, .25);
      }
    }


    &--in-selecting-range {

      // background-color: $color_gray;
      // background-color: rgba($main_gold, .25);

      &:not(.react-datepicker__day--outside-month) {
        background-color: rgba($main_gold, .25);
      }
    }

    &:hover {
      &:not(.react-datepicker__day--outside-month) {
        background-color: rgba($main_gold, .25);
      }

      // color: rgba(219, 178, 70, 0.16);
    }
  }

  &__navigation {
    position: absolute;

    &--next {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }

  &__current {
    &-month {
      text-align: center;
      margin-bottom: 25px;


      font-family: 'LBet Banner Mt';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      /* identical to box height */

      color: #3F3F46;

      &--center {
        padding: 32px 0 25px 0;
        text-align: center;
        font-size: 16px;

      }
    }
  }
}

.dropertitle {
  font-family: "LBet STD Nus";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #3F3F46;
  text-align: center;
}