.flx {
  @include flex;

  &.align-items-center {
    align-items: center;
  }

  &.justify-content-center {
    justify-content: center;
  }
}

.flx-wrap {
  flex-wrap: wrap
}

.flxAll {
  @include flex;
  align-items: center;
  justify-content: center;
}

.flxAI {
  align-items: center;
}

.flxJC {
  justify-content: center;
}

.flxJSB {
  justify-content: space-between;
}

.flx_col,
.flxCol {
  flex-direction: column;
}

.flx_row {
  flex-direction: row;
}

.toRight {
  margin-left: auto;
}


.flx {
  &-align {
    &-end {
      align-items: flex-end;
    }
  }
}

.text {
  &--primary {
    color: $main_gold;
  }

  &--red {
    color: $main_red;
  }
}


.grid {
  &-container {
    width: 100%;

    .col {
      &-md {

        @for $i from 1 through 12 {
          &-#{$i} {
            width: #{100 / $i + '%'};
          }
        }

      }
    }
  }

  &-row {
    width: 100%;
    @include flex;
    // gap: 20px;
    // padding-inline: calc(var(--gap-size) / 2);
  }
}


.bp {

  @each $key,
  $value in $bps {
    &-#{$key} {
      display: none;

      @media only screen and (min-width: px($value + 1)) {
        display: block;
      }
    }
  }
}


.row {
  --gap-size: 20px;
  @include flex;
  flex-wrap: wrap;
  // margin-left: calc(var(--gap-size) * -1);
  // margin-right: calc(var(--gap-size) * -1);


  >* {
    padding-left: calc(var(--gap-size) * 2);
    // padding-right: var(--gap-size);
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

    &:first-child {
      padding-left: 0;
    }
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 auto;
      width: #{($i / 12) * 100 + '%'};
    }
  }

  @each $key,
  $value in $bp {
    @media only screen and (min-width: $value + px) {

      @for $i from 1 through 12 {
        .col-#{$key}-#{$i} {
          flex: 0 0 auto;
          width: #{($i / 12) * 100 + '%'};
        }
      }
    }
  }


}

.svg-clip {
  width: 0px;
  height: 0px;
  overflow: hidden;
}


$divide-size: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46);

@each $size in $divide-size {
  .divide-#{$size} {
    margin-top: #{$size}px;
  }

  .gap-#{$size} {
    gap: #{$size}px;
  }

  .m {
    &-left-#{$size} {
      margin-left: #{$size}px;
    }

    &-right-#{$size} {
      margin-right: #{$size}px;
    }

    &-top-#{$size} {
      margin-top: #{$size}px;
    }

    &-bottom-#{$size} {
      margin-bottom: #{$size}px;
    }

    &-b-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
  }

  .p {
    &-inline-#{$size} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }

    &-block-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-underline {
    text-decoration: underline;
  }

  &-color {
    &-green {
      color: green;
    }

    &-red {
      color: $main_red;
    }
  }
}


.color {
  &-green {
    color: green;

    svg {
      path {
        stroke: green;
      }
    }
  }

  &-red {
    color: $main_red;

    svg {
      path {
        stroke: $main_red;
      }
    }
  }
}

.font {
  &-primary {
    @include _Font_Avenir;
  }

  &-secondary-mt {
    // background-color: gray !important;
    @include _Font_LBet_MT;
  }

  &-secondary-nus {
    @include _Font_LBet_NUS;
  }
}



//

.react-datepicker {

  @include flex;
  gap: 54px;

  &__input-container {
    display: none;
  }

  &-popper {
    // background: gray;
    z-index: 5;
    // width: 282px;
  }


  &__month-container {
    max-width: 282px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3F46;

    &:first-of-type,
    &:first-child {}
  }

  [class="react-datepicker__month-container"] {




    &:last-of-type {
      // background-color: gray;
    }

    &:first-of-type {
      // background-color: gray !important;
    }
  }

  &__day--outside-month {
    background-color: #FFF !important;
  }

  &__day-names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin-bottom: 16px;
  }

  &__day-name {
    min-width: 30px;
    // flex: 1;
    height: 30px;
    // background: azure;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__week {
    width: 100%;
    display: flex;
    /*! flex-direction: column; */
    // gap: 11px;
    justify-content: center;

    &:last-child {

      .react-datepicker__day--in-range,
      .react-datepicker__day--in-selecting-range {

        &:nth-last-child(+2) {
          &:after {
            background: linear-gradient(90deg, rgba(219, 0, 96, 0.16) 50%, rgba(217, 217, 217, 0) 100%);
          }
        }

        &:nth-last-child(+1) {
          &:after {
            background-color: #FFF;
          }
        }
      }

    }
  }

  &__month {
    gap: 12px;
    @include flex;
    flex-direction: column;

    .react-datepicker__day {
      >&:nth-child(2) {
        // background-color: gray;
      }
    }
  }

  &__day {
    min-width: 30px;
    // flex: 1;
    height: 30px;
    // background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 4px;
    font-family: 'LBet Banner Mt';
    cursor: pointer;
    flex: 1;
    position: relative;


    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background: rgba($main_gold, .16);
      border-radius: 0px;

    }

    p {
      position: relative;
    }

    >* {
      width: 30px;
      height: 100%;
      @include flex-all;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: rgba($main_gold, .16);
        border-radius: 0px;

      }
    }

    &--range-start,
    &--range-end,
    &--selecting-range-start,
    &--selecting-range-end {
      &:not(.react-datepicker__day--outside-month) {

        &::before {
          width: 50%;
        }

        >* {
          background: $main_gold;
          color: #FFF;
          z-index: 5;
          border-radius: 4px;

          &::before {}
        }
      }
    }

    &--range-start,
    &--selecting-range-start {
      &:not(.react-datepicker__day--outside-month) {
        &::before {
          right: 0;
          left: initial;
        }
      }
    }

    &--range-end,
    &--selecting-range-end {
      &:not(.react-datepicker__day--outside-month) {
        &::before {
          left: 0;
          right: initial;
        }
      }
    }


    &--outside-month {
      &:not(.react-datepicker__day--in-range) {
        &:before {
          // background-color: grsay !important;
        }
      }
    }

    &--in-range,
    &--in-selecting-range {
      &::before {
        background-color: rgba-to-rgb(rgba(219, 0, 96, 1), .16);

        &:not(.react-datepicker__day--range-start) {}
      }
    }


    &:not(.react-datepicker__day--in-selecting-range) {
      &:not(.react-datepicker__day--outside-month) {
        &:not(.react-datepicker__day--range-start) {
          &:not(.react-datepicker__day--range-end) {
            &:hover {
              >* {
                background-color: rgba($main_gold, .25);
              }
            }

            // color: rgba(219, 178, 70, 0.16);
          }
        }
      }
    }
  }

  &__navigation {
    position: absolute;

    &--next {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }

  &__current {
    &-month {
      text-align: center;
      margin-bottom: 25px;


      font-family: 'LBet Banner Mt';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      /* identical to box height */

      color: #3F3F46;

      &--center {
        padding: 32px 0 25px 0;
        text-align: center;
        font-size: 16px;

      }
    }
  }
}

.dropertitle {
  font-family: "LBet STD Nus";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #3F3F46;
  text-align: center;
}



.color {
  &-icon {
    &-gray {

      // !! only stroke icons
      svg {
        stroke: gray;
      }
    }
  }
}