// @import 'bootstrap/scss/bootstrap-grid';
@import 'sassync/sass/_default/_theme/_reset';
@import './classes.module.scss';
@import './react-calendar.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

a {
  color: inherit;
  outline: none;

  &:link,
  a:active {
    text-decoration: none;
  }
}


// ----------------
// ----------
// ------

.no-scroll {
  overflow: hidden;
}

.layout {
  &--wrap {
    @include layoutWrap(true);

    @include max-min(max px($LAYOUT_WRAP_SIZE + $PAGE_PADDING_INLINE)) {
      // overflow-x: hidden;
    }
  }
}

.appContent {
  padding-top: px($HEADER_HEIGHT_MOBILE + 60);

  @include max-min(min px($BP_TABLET_SM + 1)) {
    padding-top: px($HEADER_HEIGHT + $HEADER_NAVIGATION_HEIGHT + $HEADER_SMALL_HEIGHT);
  }
}

.md-container-fluid {
  margin-inline: - px(#{$PAGE_PADDING_INLINE});

  @include max-min(min px($BP_TABLET_SM)) {
    margin-inline: initial;
  }

}


.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  background-color: $color_white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);

  @include max-min(min px($BP_TABLET_SM + 1)) {
    box-shadow: none;
  }
}


.icon-wrapper {
  // margin-right: 14px;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.pageTitle {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  /* Text */
  color: #3F3F46;

  margin-top: 24px;
  text-align: center;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    margin-top: 80px;
  }

}

.sectionTitle {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #3F3F46;
  padding-bottom: 24px;

  text-align: center;

  @include max-min(min px($BP_TABLET_SM + 1)) {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 64px;
  }

}


// !!! move to module

// list menu component
.list-menu {
  &--wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px 20px 20px;
  }

  &--list {
    @include flex;
    flex-direction: column;
    gap: 16px;
  }


  &--item {
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    cursor: pointer;
    font-family: 'LBet STD Nus';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: background-color .325s ease-out;

    /* identical to box height */

    /* Text */
    color: #3F3F46;


    &:hover {
      background: rgba($dark_gold, 0.1);
    }

  }


}

// range toggler component
.rangeToggler {
  height: 100%;
  padding-inline: 20px;
  position: relative;
  width: 100%;

  >* {
    height: inherit;
  }

  .label {

    font-family: 'LBet STD Nus';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: rgba(63, 63, 70, 0.5);
  }

  .content {

    font-family: 'LBet STD Nus';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */

    color: #3F3F46;

    span {
      // margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.portal {
  inset: 0px auto auto 0px;
}
// bordered dropdown style
.borderDrop {
  // position: relative;  
  // height: 100%;

  // padding-top: 20px;
  // margin-top: 12px;
  // background: #FFF;
  // border: 1px solid $main_gold;
  // box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);
  // border-radius: 16px;
  .drop-wrap {
    width: 100%;
    background-color: #FFF;
    border: 1px solid rgba(63, 63, 70, 0.08);
    border-radius: 16px;

    &.open {
      background: #FFFFFF;

      // /* Main Gold */
      border-color: $main_gold;
      box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);

      // position: absolute;

      .drop {}
    }


  }

  .outer {
    position: relative;
  }

  .default {
    position: absolute;
  }

  .toggler {
    // @include flex;
    display: block;
    height: 100%;

    >* {
      height: inherit;
    }
  }

  .drop {
    // position: absolute;
    // left: 0;
    // width: 100%;
    // min-height: 100%;
    // z-index: 555;
    // position: relative;
  }

  &--outer {
    .drop {
      width: fit-content;
      position: absolute;
      right: 0;

      background: gray;
      margin-top: 12px;
      background: #FFF;
      border: 1px solid $main_gold;
      box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);
      border-radius: 16px;
      // min-width: 100%;
      right: 0;
      padding: 28px 40px 28px 40px;
    }
  }

  &.portal {
    // padding-top: 20px;
    // margin-top: 12px;
    // background: #FFF;
    // border: 1px solid $main_gold;
    // box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);
    // border-radius: 16px;
  }

  .dropOuter {
    position: absolute;
    background: gray;
    margin-top: 12px;
    background: #FFF;
    border: 1px solid $main_gold;
    box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);
    border-radius: 16px;
    // min-width: 100%;
    right: 0;
    padding: 28px 40px 28px 40px;
  }

  &.variant {
    &--simple {
      &.portal {
        // padding-top: 20px;
        // margin-top: 12px;
        // width: 200px !important;
        background: #FFF;
        border: 1px solid $main_gold;
        box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);
        border-radius: 16px;
        inset: 0px auto auto 0px !important;
      }
    }

    &--outer {
      .drop {
        position: absolute;
        margin-top: 12px;
        background: #FFF;
        border: 1px solid $main_gold;
        box-shadow: 0px 2px 6px rgba($dark_gold, 0.12);
        border-radius: 16px;
        // min-width: 100%;
        right: 0;
        padding: 28px 40px 28px 40px;
      }
    }
  }
}

// responsive filter grid

.filterGrid {
  .row {
    justify-content: flex-end;
    --gap-size: 2.5px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      --gap-size: 10px;
    }
  }

  .wraps {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &--md {
    width: 50px;
  }

  &--xs {
    position: absolute;
    width: 100%;
  }


  // .inputWrap {
  //   height: 50px !important;

  //   @include max-min(min px($BP_TABLET_SM)) {
  //     height: 64px !important;
  //   }
  // }

  &--item {
    height: 50px;

    @include max-min(min px($BP_TABLET_SM)) {
      // height: 64px !important;
      height: 64px;
    }

    .borderDrop {
      // height: 50;
      width: 100%;
      height: 100%;


    }

    @include max-min(max px($BP_TABLET_SM)) {
      // width: auto !important;
    }

    // >div {
    //   width: 100% !important;
    //   @include max-min(min px($BP_TABLET_SM + 1)) {}
    // }


    .drop-wrap {
      position: unset;

      @include max-min(min px($BP_TABLET_SM)) {
        position: relative;
      }


      .drop {
        // width: fit-content;
        min-width: 100%;
      }

      .toggler {
        position: relative;
        // height: 50px;
        width: 100%;
        overflow: hidden;

        @include max-min(min px($BP_TABLET_SM)) {
          // height: 64px;
        }
      }
    }

    flex: 50px 0 !important;
    transition: all .35s ease-in-out;
    flex-shrink: 0;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      transition: none;
      flex: initial !important;
    }

    &.wide {
      flex: 1 0 !important;

      >div {
        // width: 100%;
      }
    }
  }
}

// last winner page swiper
.lastWinnerSwiperWrap {
  max-width: 1530px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  .swiper-initialized {
    padding-top: 32px;
    padding-bottom: 48px;

    // @include flex;
    @include max-min(min px($BP_TABLET_SM + 1)) {
      padding-top: 62px;
      padding-bottom: 119px;
    }
  }

  .swiper-wrapper {
    align-items: center;
    height: 298px;

    // background-color: gainsboro;
    @include max-min(min px($BP_TABLET_SM)) {
      height: 483px;
    }

  }

  .swiper-slide {
    width: 208px;
    height: 298px;

    transition: all .125s ease-in-out;
    margin: 0 15px;

    @include max-min(min px($BP_TABLET_SM + 1)) {
      width: 250px;
      height: 384px;
    }



    &-active {
      @include max-min(min px($BP_TABLET_SM + 1)) {
        width: 330px;
        height: 483px;
      }

    }

    &-next {}

    &-prev {}

    &:first-child {}
  }

}

//

$filterBG: rgba-to-rgb(rgba($main_gold, .015));

.filterWrapBg {
  background: $filterBG;

  position: relative;

  &:after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: gray;
  }

  &::before {
    bottom: 100%;
    background:
      linear-gradient(180deg, rgba(#FFF, 1) 0%,
        $filterBG 100%);
  }

  &:after {
    top: 100%;
    background:
      linear-gradient(180deg, $filterBG 0%,
        rgba(#FFF, 1) 100%);

  }

  // background:
  //   linear-gradient(180deg, rgba(255, 255, 255, 1) 0%,
  //     rgba-to-rgb(rgba($main_gold, .02)) 15%,
  //     rgba-to-rgb(rgba($main_gold, .02)) 85%,
  //     rgba(255, 255, 255, 1) 100%);
}