.promotions {
  @include flex;
  flex-direction: column;
  gap: 12px;

  @include max-min(min px($BP_TABLET_SM)) {
    gap: 24px;
  }

  @include max-min(min px($BP_LAPTOP_SM)) {
    gap: 38px;
  }


  .promoContainer {}
}

.blockWrap {
  @include flex;
  flex-direction: column;
  gap: 16px;


  @include max-min(min px($BP_TABLET_SM + 1)) {
    flex-direction: row;
    gap: 24px;
  }

  @include max-min(min px($BP_LAPTOP_SM + 1)) {
    gap: 38px;
  }
}

.block {
  //  : 305px;
  background-color: gray;
  border-radius: 16px;
}

.title {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  margin: 18px auto 26px auto;
  text-align: center;
  padding: 0 20px;

  color: $color_gray;

}

.smallBlockWide {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 92px;
  letter-spacing: 0.05em;
  flex-shrink: 0;
  height: 170px;
  padding-top: 17px;
  @include flex;
  flex-direction: column;

  @include max-min(min px($BP_MOBILE)) {
    height: auto;
    // font-size: 64px;
    // padding-top: 32px;
  }

  @include max-min(min px(530)) {
    height: auto;
    // font-size: 44px;
    padding-top: 24px;
  }

  @include max-min(min px($BP_TABLET_SM + 1)) {
    width: #{(879 / $LAYOUT_WRAP_SIZE) * 100  + '%'};
    height: auto;
    // height: 270px;
    // max-height: 270px;
    font-size: 64px;

  }

  .textArea {
    // margin-top: -16px;
    @include flex-all;
    flex: 1;
    // font-size: 64px;


    @include max-min(min px($BP_MOBILE)) {
      margin-top: 4px;
    }
  }

  svg {
    paint-order: stroke;
    stroke: $dark_gold;
    fill: $color_white;
    stroke-width: 8px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    height: 52px;

    @include max-min(min px($BP_MOBILE)) {
      height: 92px;
    }
  }

  img {
    max-width: 100%;
  }
}

.smallBlock {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
}


.title {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin: 18px auto 26px auto;
  text-align: center;
  padding: 0 20px;

  color: $color_gray;


}

.timeBlockLabel {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #3F3F46;

  @include max-min(min px($BP_MOBILE + 1)) {
    font-size: 20px;
    line-height: 28px;
  }
}

.timeBlockTitle {

  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #3F3F46;
  text-align: center;


  margin: 18px auto 26px auto;
  padding: 0 20px;


  @include max-min(min px($BP_MOBILE)) {
    font-size: 24px;
    line-height: 34px;
  }
}

.timeBlockWrap {
  // gap: 13px;
  padding: 0 16px 18px 16px;
  margin-left: -12px;

  @include max-min(min px($BP_TABLET_SM)) {
    padding: 0 22px 38px 22px;
    // gap: 38px;
  }

  >* {
    flex-basis: 25%;
    flex-shrink: 0;
    padding-left: 13px;

    &:last-child {

      >* {

        &::after,
        &::before {
          display: none;
        }
      }

    }

    // gap: 3px;

    @include max-min(min px($BP_TABLET_SM)) {
      // gap: 12px;
    }
  }
}

.timeBlock {
  // maw-width: 135px;
  // width: 100%;
  // height: 149px;

  background: rgba(63, 63, 70, 0.03);
  border-radius: 12px;

  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 900;
  // font-size: 80px;
  // line-height: 114px;
  // height: 64px;
  font-size: 24px;
  // height: 64px;

  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 57px;

  /* identical to box height */
  letter-spacing: 0.05em;
  height: 72px;
  position: relative;

  // width: 70px;
  // height: 72px;

  background: rgba(63, 63, 70, 0.03);
  border-radius: 12px;


  @include max-min(min px($BP_MOBILE)) {
    height: 92px;
  }

  @include max-min(min px($BP_TABLET_SM)) {
    height: 72px;
  }

  @include max-min(min px(1080)) {
    height: 98px;
    font-weight: 900;
    font-size: 44px;
    line-height: 114px;
  }

  @include max-min(min px(1380)) {
    font-weight: 900;
    font-size: 76px;
    line-height: 90px;
    height: 149px;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 6px;
    height: 6px;
    background-color: #FFF;
    border-radius: 100%;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0px 0px 0px 2px inset #9A9A9D;
    transform: translateY(-50%);
    margin-left: 3px;
  }

  &::after {
    margin-top: 12px;
  }

  svg {

    paint-order: stroke;
    stroke: #D6B100;
    fill: $color_white;
    stroke-width: 4px;
    stroke-linecap: butt;
    stroke-linejoin: miter;


    margin-top: 4px;
  }
}



.swipeList {
  margin-top: 50px;

  :global {

    .swiper.mySwiper {
      overflow: visible !important;

      @include max-min(min px($BP_LAPTOP_MEDIUM)) {
        overflow: hidden !important;
        padding: 70px 0;
        margin-block: -70px;
      }
    }

    .swiper-slide {
      width: 208px !important;

      @include max-min(min px($BP_TABLET_SM)) {
        width: 285px !important;
      }
    }
  }
}


.winnerBlock {
  position: relative;

  &--wrap {
    @include flex;
    flex-direction: column;
    align-items: center;
    // gap: 20px;
    padding: 36px 30px 24px 30px;
    // clip-path: url(#myClip);
    // background: rgba(255, 255, 255, 0.04);
    // box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
    width: 208px;
    height: 294px;

    // background: rgba(212, 139, 34, 0.04);
    border-radius: 12px;
    position: relative;

    @include max-min(min px($BP_TABLET_SM)) {
      width: 285px;
      height: 394px;
      padding: 41px 30px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 20px;
      // background-color: gray;
      // clip-path: url(#myClip);

    }

  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;

    background: #D48B22;
    border-radius: 12px;

    @include max-min(min px($BP_TABLET_SM)) {
      height: 7px;
    }

  }

  .ticketNumber {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 600;


    font-size: 13px;
    line-height: 18px;

    /* Main Gold */
    color: #D6B100;

    @include max-min(min px($BP_TABLET_SM)) {
      font-size: 17px;
      line-height: 24px;

    }
  }

  .winTitle {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;

    color: #3F3F46;
    margin-top: 33px;
    font-size: 12px;
    line-height: 17px;

    @include max-min(min px($BP_TABLET_SM)) {
      font-size: 22px;
      line-height: 31px;

    }

  }

  .winNumber {
    margin-top: 28px;
    background: rgba(63, 63, 70, 0.03);
    border-radius: 4px;
    @include flex-all;
    flex-shrink: 0;

    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;

    color: #3F3F46;

    width: 35px;
    height: 32px;

    @include max-min(min px($BP_TABLET_SM)) {
      width: 66px;
      height: 61px;
      font-size: 24px;
      line-height: 34px;
      border-radius: 16px;
    }

  }

  .status {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 400;
    margin-top: 22px;

    color: #3F3F46;


    font-size: 12px;
    line-height: 17px;


    @include max-min(min px($BP_TABLET_SM)) {
      font-size: 20px;
      line-height: 28px;

    }
  }

  .amount {
    @include flex;
    margin-top: 12px;
    min-height: 24px;
  }

  .amountNumber {

    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 700;
    font-size: inherit;
    // line-height: 40px;

    /* identical to box height */

    color: #019E08;

    @include max-min(min px($BP_TABLET_SM)) {
      font-size: 24px;
      line-height: 34px;
    }

  }

  .line {
    width: 45px;
    height: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgba(63, 63, 70, 0.37);
  }

  .wiinerBlockBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex-all;

    svg {
      transform: scale(#{(100 + decimal-ceil(73 / 285 * 100)) / 100});
    }
  }

  .playButton {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    background: #FDFAF6;
    border: 2px solid #D6B100;
    @include flex-all;
    border-radius: 100px;
    flex-shrink: 0;
    padding: 1px 0 0 2px;
    cursor: pointer;
    margin-top: auto;

    @include max-min(min px($BP_TABLET_SM)) {
      width: 42px;
      height: 42px;
    }


    &:hover {
      background-color: rgba($main_gold, .09);
    }



    svg {
      path {
        fill: #D6B100;
      }
    }
  }
}

.infoLineContainer {
  width: 100%;
  background: linear-gradient(180deg, #D6B001 0%, #AD6E01 100%);
  box-shadow: 0px 0px 22px rgba(164, 66, 66, 0.25);
  min-height: 466px;
  margin-top: 100px;

  .infoLineWrap {
    @include layoutWrap(true);
    padding: 64px 0;
    @include flex;


    @include max-min(max px(BP_TABLET)) {
      flex-direction: column;
    }

  }


  .infoLineTextArea {}

  .infoLineText {
    padding-left: 20px;

    @include max-min(max px($BP_MOBILE)) {
      padding-left: 0;
    }

    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;

    /* identical to box height */

    color: #FFFFFF;


  }

  .infoLineDivide {
    margin-top: 31px;
  }

  .infoLineDivideXl {
    margin-top: 62px;
  }

  .blockArea {
    margin-left: 62px;
    width: 432px;
    height: 338px;
    flex-shrink: 0;
    padding: 32px 51px;

    background: linear-gradient(180deg, #D6B001 0%, #AD6E01 100%);
    box-shadow: 0px 0px 22px rgba(164, 66, 66, 0.25);
    border-radius: 16px;
    @include flex;
    flex-wrap: wrap;
    // gap: 20px;


    @include max-min(max px($BP_MOBILE)) {
      width: 100%;
      padding: 24px 44px;
      ;
    }

    @include max-min(max px($BP_TABLET)) {
      margin: 40px auto 40px auto;
    }


    >div {
      &:nth-child(odd) {
        padding-right: 10px;
      }

      &:nth-child(even) {
        padding-left: 10px;
      }
    }

    .blockAreaItemWrap {
      width: 50%;
      height: 55px;
      // background: #FFFFFF;
      border-radius: 16px;

    }

    .blockAreaItem {
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      border-radius: 16px;
      text-align: center;
      @include flex;
      align-items: center;
      justify-content: center;
      font-family: 'Avenir Next Georgian';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-align: center;



    }
  }

}

.sectionContainer {
  .containerTitle {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #3F3F46;
    text-align: center;
    margin-top: 58px;
    margin-bottom: 58px;

    @include max-min(min px($BP_TABLET_SM)) {
      font-size: 28px;
      line-height: 40px;
      margin-top: 100px;
      margin-bottom: 100px;
    }

    span {
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .containerList {
    gap: 40px;
    padding-left: px(336 + 80);


    @include max-min(max px($BP_LAPTOP_MEDIUM)) {
      padding-left: px(250);
    }

    @include max-min(max px($BP_TABLET)) {
      padding-left: px(150);
    }

    @include max-min(max px($BP_TABLET_SM)) {
      padding-left: px(0);
    }
  }

  .containerItem {
    @include flex;
    height: 244px;

    @include max-min(max px($BP_TABLET_SM)) {
      // background-color: #019E08;

      &:nth-child(even) {
        .containerItemImage {
          order: 2;
        }

        .containerItemText {
          text-align: right;
        }
      }
    }

    // background-color: gainsboro;
    @include max-min(max px($BP_TABLET_SM)) {
      height: initial;
    }

  }

  .containerItemImage {
    width: 244px;
    height: 244px;
    // background-color: #3F3F46;
    @include flex;
    justify-content: center;
    align-items: flex-start;

    @include max-min(max px($BP_TABLET_SM)) {
      width: 144px;
      height: 144px;

      img {
        height: 100%;
      }
    }
  }

  .containerItemText {
    padding-top: 30px;

    @include max-min(min px($BP_TABLET_SM)) {
      padding-top: 69px;
    }
  }

  .containerItemTitle {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    letter-spacing: 0.05em;
    color: #3F3F46;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;

    @include max-min(min px($BP_TABLET_SM)) {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    @include max-min(min px($BP_TABLET)) {
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
    }
  }

  .containerContent {
    @include flex;
  }

  .sideArea {
    background-color: gray;
    position: relative;

    @include max-min(max px($BP_TABLET_SM)) {
      display: none;
    }
  }

  .circle {
    position: absolute;
    width: 812px;
    height: 812px;
    left: -606px;
    top: 50%;
    border-radius: 100%;
    transform: translateY(-50%);
    background: #539AFF;

    @include max-min(max px($BP_TABLET)) {
      width: 580px;
      height: 580px;
      left: -406px;
    }
  }

  .imageArea {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -152px;
  }

  .containerSpace {
    padding-left: 140px;


    @include max-min(max px($BP_TABLET_SM)) {
      padding-left: px(0);
    }
  }

  .containerItemDesc {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    margin-top: 9px;
    max-width: 660px;
    width: 100%;
    margin-left: auto;
    color: #3F3F46;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    @include max-min(min px($BP_TABLET_SM)) {
      font-size: 16px;
      line-height: 20px;
    }

    @include max-min(min px($BP_TABLET)) {
      font-size: 20px;
      line-height: 28px;
      margin-top: 16px;
    }
  }
}