@function px($size) {
  @return #{$size}+px;
}


%layoutWrap {
  .layout--wrap {}
}

@mixin layoutWrap($withBP: false) {
  max-width: px($LAYOUT_WRAP_SIZE);
  margin: 0 auto;
  width: 100%;
  @extend %layoutWrap;

  @debug $withBP;

  @if ($withBP==true) {
    @include max-min(max px($LAYOUT_WRAP_SIZE + 20)) {
      padding-inline: 20px;
    }
  }

}

@mixin btn-style($bgColor) {
  padding: 14px 23px;
  background-color: $bgColor;
  cursor: pointer;
  outline: none;
  border: none;
}

@mixin Font_Avenir($size: 14px) {
  font-family: 'Avenir Next Georgian';
  font-size: $size;
}


@mixin Font_LBet_MT($size: 14px) {
  font-family: 'LBet STD MT';
  font-size: $size;
}

@mixin Font_LBet_NUS($size: 14px) {
  font-family: 'LBet STD NUS';
  font-size: $size;
}

$winner_space: 14;

@mixin winnerBlockWrap($width: 20, $height: 20, $important: 0) {
  width: px($width + ($winner_space * 2));
  height: px($height + ($winner_space * 2));
}