$light_gray: #D8D8D8;

$main_gold: #D6B100;
$dark_gold: #AE7A16;

$color_gray: #3F3F46;
$color_white: #FFF;

$main_green: #019E08;
$main_yellow: #F7B248;
$main_red: #E00000;

$LAYOUT_WRAP_SIZE: 1530;

$HEADER_HEIGHT: 72;

$SEARCH_INPUT_HEIGHT: 48;